*{
    margin: 0;
    padding: 0;
}

header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    gap: 10px;
}

header a{
    color:whitesmoke;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    padding: .5rem;
    border-radius: .5rem;
}